body{
	font-family: 'Rokkitt', serif;
	text-align: center;
    color: #FFD700;
    background-size: 1436px 830px;
    text-shadow: 2px 2px black;
}

h1{
    letter-spacing: 3px;
    font-family: 'Rokkitt', serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    display: block;
    color: #FFD700;
    border-style: solid;
    border-width: 5px;
    background-color: black;
    width: 400px;
    padding: 10px;
}

ul {
	list-style-type: none;
}