#bg {

width: 100%;
height: 830px;

}

.btn-lg {
	font-family: 'Rokkitt', serif;
	text-shadow: 2px 2px black;
	position: absolute;
	color: #FFD700;
	background-color: rgba(0, 0, 0, 0);
	border-width: 5px;
	margin-left: 35%;
	margin-top: 25%;
}

/* unvisited link */
a:link {
    color: #FFD700;
}

/* visited link */
a:visited {
    color: #FFD700;
}

/* mouse over link */
a:hover {
    color: #FFD700;
}

/* selected link */
a:active {
    color: #FFD700;
}